.aboutus-section {
     height: 100%;
     position: relative;
     
 }
 .aboutus-container {
   padding: 30px 30px 30px 30px;
   color: #ffffff;
   width: 80%;
   position: absolute;
   top: 50%;
   left: 50%;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
 }
 .aboutus-container img {
   width: 100%;
   max-width: 400px;
   margin-right: 20px;
   height: auto;
   float: left;
 }
 .aboutus-container>.describtion {
   /* padding-left: 30px; */
   text-align: justify;
   font-size: 18px;
   font-weight: 500;
 }
 .aboutus-container>.describtion h1 {
   font-weight: 700;
 }
 @media (max-width: 770px) {
   .aboutus-section {
   }
   
   .aboutus-container {
     width: 75%;
     height: 70%;
 
   }
 
 
   .aboutus-container>.describtion {
     padding-left: 0;
     padding: 0 0 30px 0;
     font-size: 15px;
     font-weight: 500;
   }
 }