.member-section {
    /*  position: absolute;
     top: 55%;
     left: 50%;
     -moz-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%); */
       height: 60%;
       position: relative;
       
   }
  
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .member-column {
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .dupa{
      display: flex;
      justify-content: center;
  }

  .member-image{
      width: 50%;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
  }

  .member-container {
    padding: 30px 30px 30px 30px;
    color: #ffffff;
  
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .member-image>img{
    border-radius: 50%;
  }

  
  .describtion{
      padding: 0 30px 0 30px;
  }

  .describtion>div{
      text-align: justify;
  }

  .describtion>h1{
    text-align: center;
  }

@media(max-width: 1030px){
  .member-section {
      height: 100%;
      position: relative;
   }
  .row {
    flex-direction: column;
    padding-top: 100px;
  }

  .member-column {
    height: 700px;
  }

  .member-image{
    margin-left: 20px;
    width: 50%;
    padding-bottom: 20px;
  }

  .aboutus-container img {
    width: 60px;
  }

}
