.member-section {
    /*  position: absolute;
     top: 55%;
     left: 50%;
     -moz-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%); */
      padding-top: 140px;
       height: 90%;
       position: relative;
       
   }

   .title{
     color: #ffffff;
     text-align: center;
   }
  
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 0 100px 0;
  }

  .row-general{
    padding-bottom: 200px;
  }

  .member-image>img{
    width: 150px;
  }

  .general-image>img{
    width: 200px;
  }

  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .member-column {
    height: 100px;
    display: flex;
    flex-direction: column;
    
  }


  .member-image{
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
  }

  .general-image{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  /* .member-image>img{
    width: 50%;
  }
 */
  .member-container {
    padding: 1050px 30px 100px 30px;
    color: #ffffff;
  
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .member-image>img{
  }

  
  .describtion{
    text-align: center;
  }

  .describtion>div{
      text-align: center;
  }

  .describtion>h1{
    text-align: center;
  }

 

@media(max-width: 1030px){
  .member-section {
    padding-top: 1600px;
      position: relative;
   }
  .row {
    flex-direction: column;
  }

  .member-column {
    height: 600px;
  }

  .member-image{
    width: 100%;
    padding-bottom: 20px;
  }

  .aboutus-container img {
    width: 60px;
  }

  .member-container {
    padding: 30px 30px 30px 30px;
    color: #ffffff;
    width: 80%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

}
