@media (max-width: 770px) {


    body {
        background: rgb(20,30,48);
        background: linear-gradient(104deg, rgba(20,30,48,1) 4%, rgba(36,59,85,1) 97%);
        background-repeat: no-repeat;
        background-attachment: fixed, scroll;
    }

    .menu-container {
        grid-gap: 15px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 100px);
        grid-template-areas:
            "box-1 box-1"
            "box-1 box-1"
            "box-2 box-2"
            "box-2 box-2"
            "box-3 box-3"
            "box-3 box-3"
            "box-4 box-4"
            "box-4 box-4"
            "box-5 box-5"
            "box-5 box-5"
            "box-6 box-6"
            "box-6 box-6"
            "box-7 box-7"
            "box-7 box-7"
            "box-8 box-8"
            "box-8 box-8"
            "box-9 box-9"
            "box-9 box-9";

        /* grid-template-columns: repeat(4, 320px);
        grid-template-rows: repeat(5, 100px);
        grid-template-areas:
            "box-1 box-1 box-1 box-5"
            "box-1 box-1 box-1 box-5"
            "box-1 box-1 box-1 box-5"
            "box-2 box-3 box-4 .  "
            "box-2 box-3 box-4 ."
        ; */
    }

    .menu-grid {
        padding: 0 10px 0 10px;
        margin-top: 390px;
        position: absolute;
        top: 55%;
        left: 40%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .menu-element-6 {
        display: none;
    }

    .menu-element-7 {
        display: none;
    }

    .menu-element-8 {
        display: none;
    }

    .menu-element-9 {
        display: none;
    }


    .menu-element-1 {
        height: 100px;
    }

    .menu-element-4 {
        margin-top: 10px;
    }

    .menu-element-5 {
        margin-top: 10px;
    }

    .menu-element {
        height: 200px;
        width: 280px;
    }

    .carousel-item {
        height: 200px;
    }


    .logo>img {
        width: 50px;
        position: static;
        transform: translateX(0) translateY(0);
    }

    .header li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }

    /*------------------GRID ELEMENT CAPTIONS*/
    .box {
        overflow: visible;
    }

    .box .caption {
        position: absolute;
        z-index: 100;
        transition: none;
        margin-top: 30px;
        bottom: -10px;

    }

    .box .simple-caption {
        padding-left: 20px;
    }

    .box:hover .simple-caption {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .element-image {
        width: 100%;
        align-items: center;
        transition: none;
    }

    .box:hover .element-image {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    /*------------------CAROUSEL*/
    .carousel-item img{
        width: 280px;
        height: 200px;
      }
    .slide-label {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateY(-10%);
        transform: translateX(-15%);

        background-color: rgba(0, 0, 0, 0.694);
        width: 290px;
        height: 40px;
        padding: 0 20px 0 20px;
    }

    .slide-label h5 {
        font-size: 15px;
    }

    .slide-label p {
        font-size: 10px;
    }

    /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
    .icon-bar {
        z-index: 3;
        display: block;
        position: fixed;
        top: 60%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 5px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

    /* Style the social media icons with color, if you want */
    .icon-bar a:hover {
        background-color: #000;
    }

    .icon-bar img {
        width: 27px;
    }

    .facebook {
        background: #3754a0;
        color: white;
    }

    .facebook img {
        width: 11px;
        margin-bottom: 2px;
    }

    .twitter {
        background: #c633a5;
        color: white;
    }

    .twitter img {
        margin-bottom: 2px;
    }

    .google {
        background: #7389dc;
        color: white;
    }

    .linkedin {
        background: #007bb5;
        color: white;
    }

    .youtube {
        background: #ffffff;
        color: white;
    }

}